/*   GENERAL STYLING FOR THE WHOLE CALCULATOR APP*/
* {
    margin: 0;
    padding: 0;
}

/*   GENERAL BUTTON STYLING   */
 .button{
     height: 5rem;
     width: 5rem;
     font-size: 2rem;
     margin: 0;
     cursor: pointer;
     color: white;
     border-radius: 5%;
     margin: .2rem;
     background-color: #000000;
 }

 .button:hover{
     color: #000000;
     border-color: #000000;
     background-color: #ffffff;
 }

 /*   TEXTBOX STYLING   */
 .textview{
     width: 21.4rem;
     margin: 0;
     font-size: 2rem;
     padding: .1rem;
 }

 /*  CONTAINER STYLING   */
 .main {
    /* padding: 2rem;*/
     background-color: #ff1e56;
     height: 30rem;
     width: 25rem;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50% , -50%);
     text-align: center;
     display: grid;
     border-radius: 5%;
 }
 .center {
     /*display: inline-block;
     vertical-align: middle;*/
     align-self: center;
    justify-self: center;
 }